<footer>

    <div class="f-container">
        <div class="copyright">
            <p><span>&copy</span>Codeial. All rights reserved</p>
        </div>

        <div class="home">
            <a href="/">Home</a>
            <a href="/users/profile">profile</a>
        </div>
    </div>
</footer>