<link rel="stylesheet" href="/css/signin.css">
<div class="signin-box">
    <h1>Sign In</h1>

    <form action="/users/create-session" method="POST">
        <div class="input">
            <input  type="email" name="email" placeholder="Email"  required>
        </div>
        <div class="input">
            <input  type="password" name="password" placeholder="Password"  required>
        </div>
        <div class="input">
            <input  type="submit" value="Sign In">
        </div>
    </form>
</div>