#home-container{

    display: flex;
    ::-webkit-scrollbar{
        display:none;
    }
    #feed-posts{

        width: 70%;
        height: 80vh;
        padding: 10px;
        overflow: scroll;
        overflow-x: hidden;
    }


    #user-friends{

        width: 30%;
        padding: 10px;
        border-left: 2px solid lightgrey;
        height: 100%;
    }
}