#home-container{

    display: flex;
    flex-direction: row;
    ::-webkit-scrollbar{
        display:none;
    }
    #others{
        width:20%;
        height: 80vh;
    }
    #feed-posts{

        width: 60%;
        height: 80vh;
        padding: 10px;
        overflow: scroll;
        overflow-x: hidden;
    }


    #user-friends{

        width: 20%;
        padding: 10px;
        border-left: 2px solid lightgrey;
        height: 100%;
    }
}