body{
    background-color: blanchedalmond;
}
.signin-box{
    width: 30%;
    height: 40%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    top: 20%;
}