body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    position: relative;
    top: 5%;
    left: 15%;
}

.fill{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 7%;
    left: 12%;
    box-sizing: border-box;
    padding: 2%;
    input{
        width: 100%;
        height: 35%;
        border-radius: 38px;
        margin-bottom: 3%;
        border: none;
        font-size: 15px;
        box-sizing: border-box;
        padding: 2%;
    }
    input:hover{
        background-color: #e4e6eb;
        cursor: pointer;
    }
    .btn{
        input:hover{
            background-image: linear-gradient(45deg, #00cc7a,#66e0ff);
        }
    }
}
.info{
    width: 100%;
    height: 50%;
    position: relative;
    top: 5%;
    left: 30%;

    .name{
        width: 100%;
        height: 30%;
        border-radius: 38px;
        box-sizing: border-box;
        padding: 2%;
        p{
            font-size: 20px;
            color: grey;
        }
    }
    .email{
        width: 100%;
        height: 30%;
        border-radius: 38px;
        box-sizing: border-box;
        padding: 2%;
        p{
            font-size: 20px;
            color: grey;
        }
    }
    .btn{
        width: 100%;
        height: 30%;
        border-radius: 38px;
        box-sizing: border-box;
        padding: 2%;
    }
}