h1 {
  margin-left: 2%; }

.users_list {
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .users_list .card {
    width: 15%;
    height: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 1px 1px lightgrey;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-bottom: 2%; }
    .users_list .card img {
      width: 100%;
      height: 75%;
      background-size: cover; }
    .users_list .card .name {
      width: 100%;
      height: auto; }
      .users_list .card .name a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px; }
